<h1>Editing committee</h1>

<%= render 'form' %>

<%= link_to 'Edit voivodeships list', committees_voivodeships_listc_path %><br />
<%= link_to 'Show', @committee %> |
<%= link_to 'Back', committees_path %>
